body {
  background: #111111;
  color: #c0c0c0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-name-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.App-nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  border-bottom: rgb(115, 115, 115) 3px dotted;
  border-top: rgb(115, 115, 115) 3px dotted;
}

.nav-item {
  margin: 20px;
  /* border-right: 3px black solid; */
}

.nav-item-link-active {
  text-decoration: none;
  color: inherit;
  border-bottom: 3px solid;
}

.nav-item-link {
  text-decoration: none;
  color: inherit;
}

.home {
  display: flex;
  flex-direction: row;
}

.home-text {
  padding: 5px;
  margin: 50px;
  font-weight: 300;
  font-size: calc(8px + 1vmin);
}

.home-images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.home-left {
  max-width: 50%;
  flex-direction: column;
  justify-content: space-evenly;
}

.home-right {
  max-width: 50%;
}

.home-image {
  max-width: 200px;
  padding-bottom: 50px;
  padding-top: 80px;
}

.home-half-image {
  max-width: 90%;
  padding: 25px;
  padding-top: 80px;
}
